<!DOCTYPE html>
<html>
  <head>
    <title>RetroPulse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if notice %>
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
          <p><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
