<!DOCTYPE html>
<html>
  <head>
    <title>RetroPulse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="bg-blue-500 text-white py-4">
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to root_path do %>
          <img src="<%= asset_path('logo.jpeg') %>" alt="Retro Pulse" class="h-16 w-auto mb-2">
          <h1 class="text-xl font-bold ml-2">Retro Pulse</h1>
        <% end %>
        <!-- Add any additional elements on the right side if needed -->
      </div>
    </header>

    <main class="container mx-auto mt-8 p-5 bg-white rounded shadow">
      <%= yield %>
    </main>
  </body>
</html>
